<!-- app/views/taskapps/_form.html.erb -->
<div class="taskapp-form-div">
<h1>Task</h1>
<%= form_with(model: [@category, @taskapp], local: true) do |form| %>
  <% if @taskapp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@taskapp.errors.count, "error") %> prohibited this taskapp from being saved:</h2>

      <ul>
        <% @taskapp.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, class: "taskapp-form-label" %>
    <%= form.text_field :title, required: true %>
  </div>
  <br/>
  <div class="field">
    <%= form.label :description, class: "taskapp-form-label" %>
    <%= form.text_area :description, required: true %>
  </div>
  <br/>
  <div class="field">
    <%= form.label :status, class: "taskapp-form-label" %>
    <%= form.select :status, ['Not Started', 'In Progress', 'Completed'], { required: true }, class: 'form-control' %>
  </div>
  <br/>
  <div class="field">
    <%= form.label :due_date, class: "taskapp-form-label" %>
    <%= form.date_field :due_date, required: true %>
  </div>
  <br/>
  <div>
    <%= form.submit "Update Task", class: "taskapp-form-submit" %>
  </div>
<% end %>
<br/>
<div>
