<!-- app/views/taskapps/_form.html.erb -->
<div class="taskapp-form-div">
<h1>Task</h1>
<%= form_with(model: [@category, @taskapp], local: true) do |form| %>
  <% if @taskapp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@taskapp.errors.count, "error") %> prohibited this taskapp from being saved:</h2>

      <ul>
        <% @taskapp.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :category_id, value: @category.id %>

  <div class="field">
    <%= form.label :title, class: "taskapp-form-label" %><br/>
    <%= form.text_field :title, required: true, class: "taskapp-form-input" %>
  </div>
  <br/>
  <div class="field">
    <%= form.label :description, class: "taskapp-form-label" %><br/>
    <%= form.text_area :description, required: true, class: "taskapp-form-input"  %>
  </div>
  <br/>
  <div class="field">
    <%= form.label :status, class: "taskapp-form-label" %><br/>
    <%= form.select :status, ['Not Started', 'In Progress', 'Completed'], { required: true }, class: "form-control taskapp-form-input" %>
  </div>
  <br/>
  <div class="field">
    <%= form.label :due_date, class: "taskapp-form-label" %><br/>
    <%= form.date_field :due_date, required: true, class: "taskapp-form-input"  %>
  </div>
  <br/>
  <br/>
  <div>
    <%= form.submit "Update Task", class: "taskapp-form-submit" %>
  </div>
<% end %>
<br/>
<div>
