<!-- app/views/taskapps/_index.html.erb -->
<div class="taskapp-index-container">
<table class="taskapp-table">
  <thead>
    <tr class="taskapp-tr">
      <th class="taskapp-th taskapp-th-title">Title</th>
      <th class="taskapp-th">Status</th>
      <th class="taskapp-th">Due Date</th>
      <th class="taskapp-th">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @taskapps.each do |taskapp| %>
      <tr class="taskapp-tr">
        <td class="taskapp-td"><%= taskapp.title %></td>
        <td class="taskapp-td"><%= taskapp.status %></td>
        <td class="taskapp-td"><%= taskapp.due_date %></td>
        <td class="taskapp-td taskapp-action-div">
          <%= link_to 'Show', category_taskapp_path(@category, taskapp), class: "taskapp-action-link" %>
          <%= link_to 'Edit', edit_category_taskapp_path(@category, taskapp), class: "taskapp-action-link" %>
          <%= button_to 'Delete', category_taskapp_path(@category, taskapp), method: :delete, class: "taskapp-action-link taskapp-action-delete" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>