<!-- app/views/taskapps/_index.html.erb -->
<div class="taskapp-index-container">
<table class="table">
  <thead>
    <tr class="taskapp-tr">
      <th class="taskapp-th">Title</th>
      <th class="taskapp-th">Status</th>
      <th class="taskapp-th">Due Date</th>
      <th class="taskapp-th">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @taskapps.each do |taskapp| %>
      <tr class="taskapp-tr">
        <td class="taskapp-td"><%= taskapp.title %></td>
        <td class="taskapp-td"><%= taskapp.status %></td>
        <td class="taskapp-td"><%= taskapp.due_date %></td>
        <td class="taskapp-action taskapp-action-div">
          <%= link_to 'Show', category_taskapp_path(@category, taskapp) %>
          <%= link_to 'Edit', edit_category_taskapp_path(@category, taskapp) %>
          <%= button_to 'Delete', category_taskapp_path(@category, taskapp), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>