<!-- app/views/taskapps/show.html.erb -->
<div class="taskapp-show-task">
<h1 class="taskapp-show-task-h1">Task</h1>
<p>
  <strong>Title:</strong>
  <%= @taskapp.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @taskapp.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @taskapp.status %>
</p>

<p>
  <strong>Due Date:</strong>
  <%= @taskapp.due_date %>
</p>


  <%= link_to 'Edit', edit_category_taskapp_path(@taskapp.category, @taskapp) %>


<%= link_to 'Back', category_taskapps_path(@taskapp.category) %>
<br/>
</div>