<div class="login-border-1">
</div>

<h1 class="iquest">iQuest.</h1>
<h2 class="login-h2">
Empower Your Day.<br>
</h2>
<h3 class="login-h3">
Unleash Productivity.
</h3>


<div class="login-page">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="login-form">
  <div class="field">
    <%= f.label :email, class: "login-label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "login-box" %>
  </div>

  <div class="field">
    <%= f.label :password, class: "login-label" %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "login-box" %>
  </div>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="login-remember-check">
      <%= f.check_box :remember_me, class: "login-remember" %>
      <%= f.label :remember_me, class: "login-remember" %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class: "login-button" %>
  </div>
  
<% end %>
<hr>
<div class="login-links">
<%= render "devise/shared/links" %>
</div>
</div>

<div class="login-border">
</div>


