<!DOCTYPE html>
<html>
  <head>
    <title>Task</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= turbo_include_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "styles", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "loginpage", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "new", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "categories-form", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "categories-show", "data-turbo-track": "reload" %>
    <link href="https://fonts.cdnfonts.com/css/poppins" rel="stylesheet">
  </head>

  <body>

    <% if flash[:alert] %>
      <div id="alert" class="alert">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <% if flash[:notice] %>
      <div id="notice" class="notice">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <div class="nav-bar">
      <% if user_signed_in? %>
        <div class="login-header">
          <h1 class="login-header-h1">iQuest</h1>
        </div>
        <div class="login">
          <%= button_to "Profile", edit_user_registration_path, class: "profile" %>
          <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "logout" %>
      <% end %>
    </div>
    
    <%= yield %>
  </body>
</html>
